In [1]:
import pandas as pd
import numpy as np

In [2]:
from googletrans import Translator
from tqdm.notebook import trange, tqdm

In [3]:
from time import sleep
import math

In [4]:
translator = Translator()

In [5]:
df=pd.read_csv("Sheet2.csv")
df.head()

,Programming Language Name,తెలుగు programming language name,Author/Developer,Telugu Author/Developer,Year,Country,Application Domain,Category,urls,Description,CurrentVersion,Type,Company/Organisation,Extension,Paradigm,Typing Discipline,Influenced By,Platform,References
0,APE(X)C,NaN,Andrew Donald Booth,ఆండ్రూ డోనాల్డ్ బూత్,1950.0,United Kingdom,Excluded from Sammet Initial orders,Coding system for the APE(X)C,https://hopl.info/showlanguage.prx?exp=770&lan...,NaN,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Birkbeck ukA | Kathleen Booth | Andrew D. ...
1,Flowchart,NaN,"Carsten K. Gomard, Neil D. Jones, John Hatcliff","కార్స్టన్ K. గోమార్డ్, నీల్ D. జోన్స్, జాన్ హా...",1950.0,United States,NaN,Graphical programming system,https://hopl.info/showlanguage.prx?exp=8204&la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sprague, Richard E. (1972) Sprague, Richard E..."
2,RAL,RAL,NaN,none,1950.0,United Kingdom,Excluded from Sammet Initial orders,Regional Assembly Language,https://hopl.info/showlanguage.prx?exp=3961&la...,Expert system.,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,&-Prolog,&-ప్రోలాగ్,"Alain Colmerauer, Robert Kowalski","అలైన్ కోల్మెరౌర్, రాబర్ట్ కోవల్స్కీ",1990.0,Spain,String and List Processing Horn clause,NaN,https://hopl.info/showlanguage.prx?exp=5480&la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hermenegildo, M. (1990) Hermenegildo, M. ; K. ..."
4,ABSTUR,ABSTUR,NaN,none,1990.0,Canada,NaN,NaN,https://hopl.info/showlanguage.prx?exp=8169&la...,Abstract Turing. Operational version of SPECTUR.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(1991) ""Formal Specification in Metamorphic P..."

In [6]:
lis=list(df["Description"])

In [10]:
lis1=lis[4000:]

In [12]:
for i in trange(len(lis1)):
    try:
        if lis1[i]==lis1[i]:
            trans.append(translator.translate(str(lis1[i]), dest="te").text)
        else:
            trans.append(np.nan)
        sleep(0.25)
    except:
        trans.append(np.nan)
        print("Exception occured for input {} {}".format(i, lis[i]))

  0%|          | 0/4214 [00:00<?, ?it/s]

In [14]:
len(trans)

8214

In [15]:
df["description_trans"]=trans

In [11]:
for i in trans:
    t.append(i)

In [16]:
df.to_excel("desctransFinal.xlsx")

In [52]:
lis8=lis[7000:]

In [53]:
for i in trange(len(lis8)):
    try:
        if lis8[i]==lis8[i]:
            trans.append(translator.translate(str(lis8[i]), dest="te").text)
        else:
            trans.append(np.nan)
        sleep(0.25)
    except:
        trans.append(np.nan)
        print("Exception occured for input {} {}".format(i, lis[i]))

  0%|          | 0/1214 [00:00<?, ?it/s]

In [54]:
len(trans)

8214

In [56]:
df["Country_trans"]=trans

In [62]:
df.to_excel("backup.xlsx")

In [58]:
lis=df["Application Domain"].to_list()

In [61]:
trans=[]

In [63]:
for i in trange(len(lis[:4000])):
    try:
        if lis[i]==lis[i]:
            trans.append(translator.translate(str(lis[i]), dest="te").text)
        else:
            trans.append(np.nan)
        sleep(0.25)
    except:
        trans.append(np.nan)
        print("Exception occured for input {} {}".format(i, lis[i]))

  0%|          | 0/4000 [00:00<?, ?it/s]

In [65]:
for i in range(4214):
    trans.append(np.nan)

In [66]:
len(trans)

8214

In [67]:
df["Application Domain_trans"]=trans

In [69]:
df.to_excel("Final Translated.xlsx")